Esercizio 1.1
---

Oltre al consumo nel dataset **OPSD_Germany_all** sono riportati anche produzione di energia solare e eolica.

**1.** Cariare il dataframe usando *Date* come time index. La produzione solare non è presente fino al 31-12-2011; Selezionate solo le date successive.

**2.** Creare una colonna *Renewable* come somma di eolico e solare.

**3.** Calcolare il rapporto tra **a)** Il totale della produzione di rinnovabili a settembre 2014 e **b)** il totale del consumo elettrico nello stesso mese

**4.** Usando le proprietà dell'indice (**hint**: *index.day_name()*), create la colonna 'Weekday' contenente il giorno della settimana.

**5.** Creare il dataframe *df_sunday_wind* contenente solo la produzione eolica di domenica

**6.** Calcolare la produzione media eolica di domenica tra gennaio e marzo 2017 (inclusi)

---

In [9]:
import pandas as pd

**1.** Cariare il dataframe usando *Date* come time index. La produzione solare non è presente fino al 31-12-2011; Selezionate solo le date successive.

In [10]:
df = pd.read_csv('data/OPSD_Germany_all.csv',
                 parse_dates=True,
                 index_col='Date')
df = df.loc['2012':,:]
df.head()

            Consumption     Wind   Solar
Date
2012-01-01      948.128  227.465   6.587
2012-01-02     1269.581  207.327   6.574
2012-01-03     1334.745  473.468  24.679
2012-01-04     1347.136  499.804  14.681
2012-01-05     1376.658  523.851   5.071

**2.** Creare una colonna *Renewable* come somma di eolico e solare.

In [11]:
df[['Renewable']] = df.Wind + df.Solar
df.head()

            Consumption     Wind   Solar  Renewable
Date
2012-01-01      948.128  227.465   6.587    234.052
2012-01-02     1269.581  207.327   6.574    213.901
2012-01-03     1334.745  473.468  24.679    498.147
2012-01-04     1347.136  499.804  14.681    514.485
2012-01-05     1376.658  523.851   5.071    528.922

**3.** Calcolare il rapporto tra **a)** Il totale della produzione di rinnovabili a settembre 2014 e **b)** il totale del consumo elettrico nello stesso mese

In [12]:
a = df.loc['2014-09':'2014-10','Renewable'].sum()
b = df.loc['2014-09':'2014-10','Consumption'].sum()

rapporto = a/b
rapporto

0.13337141864802263

**4.** Usando le proprietà dell'indice (**hint**: *index.day_name()*), create la colonna 'Weekday' contenente il giorno della settimana.

In [16]:
df.Weekday = df.index.day_name(locale = 'it')
df.Weekday

Index(['Domenica', 'Lunedì', 'Martedì', 'Mercoledì', 'Giovedì', 'Venerdì',
       'Sabato', 'Domenica', 'Lunedì', 'Martedì',
       ...
       'Venerdì', 'Sabato', 'Domenica', 'Lunedì', 'Martedì', 'Mercoledì',
       'Giovedì', 'Venerdì', 'Sabato', 'Domenica'],
      dtype='object', name='Date', length=2192)

**5.** Creare il dataframe *df_sunday_wind* contenente solo la produzione eolica di domenica

In [17]:
df_sunday_wind = pd.DataFrame(data=df.loc[df.Weekday=="Domenica",'Wind'], columns=["Wind"])
df_sunday_wind.head()

               Wind
Date
2012-01-01  227.465
2012-01-08  220.851
2012-01-15   34.468
2012-01-22  418.173
2012-01-29   78.807

**6.** Calcolare la produzione media eolica di domenica tra gennaio e marzo 2017 (inclusi)

In [18]:
df_sunday_wind.loc['2017-01':'2017-03','Wind'].mean()

276.9626153846154